# Supabase Configuration
SUPABASE_URL=your_supabase_url_here
SUPABASE_SECRET_KEY=your_supabase_secret_key_here

# Logging Configuration
LOG_LEVEL=info
LOG_FILE_PATH=./logs/app.log

# TorBox Configuration
TORBOX_TOKEN=your_torbox_token_here

TIKTOK_API_ENDPOINT=https://www.tiktok.com/
TIKTOK_IMG_CDN=https://p16-sg.tiktokcdn.com/obj/

# TikTok Upload Batch Configuration
TIKTOK_BATCH_SIZE=5
TIKTOK_BATCH_DELAY_MS=5000